*{
  box-sizing: border-box;
}
main{

  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 880px;
}
header{
  padding: 10px 15px;
 flex: 0 0 100%;
  background-color: aqua;
}
aside{
  padding: 10px 15px;
 flex: 0 0 250px;
  background-color: rgba(0, 128, 0, 0.589);
}
article{
  padding: 10px 15px;
  flex: 1 1 0;
  background-color: rgba(205, 134, 63, 0.781);
}
footer{
  padding: 10px 15px;
flex: 1 1 100%;
background-color: orange;
}


